.DS_Store
__pycache__
*egg*
build
venv
*.ipynb*
.Rproj.user

# development
TODO
llama.py
extraction_agent
parse_model
config

# DANGER ZONE!!!
raw/
ORD_files/
!inst/extdata/raw/
!inst/extdata/raw/ORD_files
*.bk*
*.DS_Store
.Rhistory
.RData
.Ruserdata
air.tomldocs/
